@import "./variables.scss";

.search-container {
  text-align: center;
}

.search {
  display: inline;
  padding: 0px;
}


.location-input {
  font-size: 2em;
  background: #000000;
  color: $background-color;
  width: 200px;
}

.state-input {
  font-size: 2em;
  background: #000000;
  color: $background-color;
  width: 75px;
}
